.projectStyle {
  background-color: #1e202cab;
  transition: 1s;
  color: white;
  margin: 10px;
  min-height: 16em;
  width: 15em;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  border-width: 1px;
  border-color: #fff;
}

.projectDivImage {
  margin: 15px 15px 15px 15px;
  background-color: #1e202cab;
  padding: 15px;
  height: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectImage {
  max-width: 180px;
  height: 10em;
  border-radius: 10px;
}

.projectButton {
  background-color: #340297;
  border: solid #0d0f1c 3px;
  transition: 0.5s;
  padding: 5px;
  color: white;
  margin-top: 20px;
  text-decoration: none;
}

.projectButton:hover {
  background-color: #5300f8;
  color: white;
}

.projectButton:focus {
  outline: solid #2f077e 2px;
}

.noImageText {
  font-size: 1em;
}