.navbar {
  /* background-color: #2f008eab; */
  margin: 0 15px 0 15px;
  justify-content: center;
  color: #d1d1d1;
  transition: 1s;
}

.navbar-light .navbar-nav .nav-link {
  color: #d1d1d1;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #d1d1d1;
  text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link:focus {
  color: #d1d1d1;
}
