.App {
  transition: 0.8s;
  margin-bottom: 50px;
}
.divWindow {
  width: 90%;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #121420ab;
  transition: 0.8s;
}

.titleStyle {
  color: #ffffffd3;
  text-align: center;
  text-decoration: underline;
  padding: 5px;
}
