.aboutRow {
  text-align: center;
  align-items: center;
}

.aboutCol {
  color: white;
  margin: 10px;
  min-width: 300px;
  max-width: 500px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aboutButton {
  display: inline-block;
  background-color: #340297;
  border: solid #0d0f1c 3px;
  transition: 0.5s;
  padding: 15px;
  color: white;
  font-size: 120%;
  margin: 10px;
  text-decoration: none;
}

.aboutButton:hover {
  background-color: #5300f8;
  color: white;
}

.aboutButton:focus {
  outline: solid #2f077e 2px;
}
